

.modebar-container{
    visibility: hidden;
}

header{
    visibility: hidden;
}

section{
    background-color: black;
}

h1{
    color: white;
}

div header{
    color: white;
}

#svg-container{
    border-radius: 15px;
}