
.modebar-container{
    visibility: hidden;
}

header{
    visibility: hidden;
}

h1{
    color: white;
    text-align: center;
}

div header{
    color: white;
}

footer{
    visibility: hidden;
}

section{
    background-image: url("https://onedrive.live.com/embed?resid=889989985DE63ABD%215208&authkey=%21AHP19kqeWxv3lM0&width=736&height=1030");
    background-size: cover;
}
