
.modebar-container{
    visibility: hidden;
}

header{
    visibility: hidden;
}

h1{
    color: white;
    text-align: center;
}

div header{
    color: white;
}

footer{
    visibility: hidden;
}

section{
    background-image: url("https://media.istockphoto.com/id/926689776/pt/foto/low-angle-view-of-the-skyscrapers-in-nyc.jpg?s=1024x1024&w=is&k=20&c=FtdZXGYtNtGkGsgSks4pz3dpIxAjUuUDHPcaPvb6eOs=");
}
